<Settings>
  <SevenZip Description="Percorso dell'eseguibile 7za.exe">c:\7za\7za.exe</SevenZip>
  <CounterFile Description="File contatore">counter.txt</CounterFile>
  <SourceFolder Description="Sorgnete">d:\cataloghi\TableArchiver</SourceFolder>
  <TableIsNewFolder Description="Tavole nuove">d:\cataloghi\TableArchiver\N</TableIsNewFolder>
  <TableToReplaceFolder Description="Tavole sostituire">d:\cataloghi\TableArchiver\S</TableToReplaceFolder>
  <Testdir Description="test dir">Y:\TableArchiver\N</Testdir>
</Settings>