<Settings>
  <PathRepository Description="Percorso repository cataloghi">y:\Gestionale_Cataloghi\Repository</PathRepository>
  <PathServer Description="Percorso del server IPREL per l'archiviatore automatico">y:\Tabarchi</PathServer>
  <SmtpServer Description="Indirizzo IP server SMTP">172.17.251.201</SmtpServer>
  <SendTo Description="Indirizzo destinatario/i (se + di 1 separare con ; )">maurizio.galli@sacmi.it</SendTo>
  <From Description="Indirizzo Mittente">paride_balestri@iprel.it</From>
</Settings>